.testimonial {
  height: 500px;
  width: 100%;
  background-image: linear-gradient(-90deg,#000 0,rgba(0,0,0,.69) 48.29%,rgba(0,0,0,0) 100%), url('../images/testimonial.png');
  background-size: cover;
}