.u-true-center {
  align-items: center;
  justify-content: center;
}

.u-vert-center {
  align-items: center;
}

.u-horiz-center {
  justify-items: center;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-remove-marg {
  margin: 0;
}