.u-container {
  max-width: 950px;
  margin: 0 auto;
}

.u-container--wide {
  max-width: 1500px;
  margin: 0 auto;
}

.u-container--large {
  max-width: 1170px;
  margin: 0 auto;
}

.u-container--narrow {
  max-width: 730px;
  margin: 0 auto;
}

.u-container--article {
  max-width: 820px;
  margin: 0 auto;
}