// Brand Colors
$color-brand-primary: #ff7846 !default;
$color-brand-secondary: #420092 !default;
  
// Text Colors 
$color-text: #00000a !default;
$color-text-secondary: #000ff0 !default;
$color-text-tertiary: #193165 !default;

$color-light-grey: #e0e0e4;

/// Background Gradient
$gradient-brand: linear-gradient(to bottom, transparent 60%,#ffe6ab 0);

// Spacing
$spacing-large: 1.3em;
$spacing-medium: 1em;
$spacing-small: 0.5em;