/// Font Family
$font-primary: 'Cabin', sans-serif !default;

// Font Sizes
$text-size-base: 16px !default;

$text-size-xxl: 2.5em !default;
$text-size-xl: 2em !default;
$text-size-l: 1.5em !default;
$text-size-m: 1.125em !default;
$text-size-s: 0.875em !default;

// Font Weights
$font-weight-heavy: 900 !default;
$font-weight-bold: 600 !default;
$font-weight-regular: 500 !default;
$font-weight-light: 300 !default;